<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.a000webhostapp.mathhelperapp.www.mathhelperprj">

    <uses-sdk tools:overrideLibrary="co.ronash.pushe" />

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />

    <permission
        android:name="com.a000webhostapp.mathhelperapp.www.mathhelperprj.permission.C2D_MESSAGE"
        android:protectionLevel="signature" />

    <uses-permission android:name="com.a000webhostapp.mathhelperapp.www.mathhelperprj.permission.C2D_MESSAGE" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />

    <!-- Optional permissions -->
    <uses-permission android:name="com.google.android.gms.permission.ACTIVITY_RECOGNITION" />
    <uses-permission android:name="android.permission.READ_PHONE_STATE" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <receiver android:name="co.ronash.pushe.receiver.UpdateReceiver">
            <intent-filter>
                <action android:name="android.intent.action.PACKAGE_REPLACED" />

                <data
                    android:path="com.a000webhostapp.mathhelperapp.www.mathhelperprj"
                    android:scheme="package" />
            </intent-filter>
        </receiver>
        <receiver
            android:name="com.google.android.gms.gcm.GcmReceiver"
            android:exported="true"
            android:permission="com.google.android.c2dm.permission.SEND">
            <intent-filter>
                <action android:name="com.google.android.c2dm.intent.RECEIVE" />
                <action android:name="com.google.android.c2dm.intent.REGISTRATION" />

                <category android:name="com.a000webhostapp.mathhelperapp.www.mathhelperprj" />
            </intent-filter>
        </receiver>

        <meta-data
            android:name="co.ronash.pushe.token"
            android:value="PUSHE_755065486956" />
        <meta-data
            android:name="co.ronash.pushe.cr"
            android:value="Tm9uZQ==" />

        <activity android:name=".MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".Register"
            android:screenOrientation="portrait" />
        <activity
            android:name=".Main2Activity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".Main3Activity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".List_More"
            android:screenOrientation="portrait" />
        <activity android:name=".Show_v" />
        <activity android:name=".Detail" />
        <activity
            android:name=".Video"
            android:screenOrientation="landscape" />
        <activity
            android:name=".Search"
            android:screenOrientation="portrait" />
        <activity android:name=".Comment" />
        <activity android:name=".Login"></activity>
    </application>

</manifest>